@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See all <a asp-controller="Vendors" asp-action="GetAllVendors">Vendors</a></p>
</div>

